<div>
    <form action="/login" method="post">
        <div>
            <label>username</label>
            <input type="text" name="username" id="">
        </div>
        <div>
            <label>password</label>
            <input type="text" name="password" id="">
        </div>
        
        <button type="submit">submit</button>
    </form>
</div>