<div>
    <h1>register</h1>
    <form action="/login/register" method="post">
        <div>
            <label for="username">username</label>
            <input type="text" name="username" id="username">
        </div>
        <div>
            <label for="password">password</label>
            <input type="password" name="password" id="password">
        </div>
        <div>
            <label for="displayName">display name</label>
            <input type="text" name="displayName" id="displayName">
        </div>
        <div>
            <label for="address">address</label>
            <input type="text" name="address" id="address">
        </div>
        <div>
            <label for="phone">phone</label>
            <input type="text" name="phone" id="phone">
        </div>
        <div>
            <label for="email">email</label>
            <input type="email" name="email" id="email">
        </div>
        <div>
            <label for="birth">birth</label>
            <input type="date" name="birth" id="birth">
        </div>
        <div>
            <label for="role">role</label>
            <select name="role" id="role">
                <% roles.forEach(role=> { %>
                    <option label="<%= role.name %>" value="<%= role.id %>">
                <% }) %> 
            </select>
        </div>
        <button type="submit">register</button>
    </form>
</div>
<a href="/login">Login</a>