a {
    text-decoration: none !important;
}

.invalid{
    color: red;
}
.invalid input {
    border-color: red;
}

.invalid select {
    border-color: red;
}

.invalid textarea {
    border-color: red;
}

.invalid img {
    border-color: red;
}

.input-row {
    display: flex;
    justify-content: space-between;
}

.input-row input {
    width: auto;
    margin: 0;
}

/* css header */
.header{
    background-color: #31a2fa;
}
.container .header a {
    color: white;
    text-transform: uppercase;
}
#quanLyId a{
    color: black !important;
}
.header .fa-house{
    font-size: 25px;
}
.header-right{
    display: flex; 
    list-style: none; 
    justify-content: flex-end; 
    font-size: 25px;
}
.header-right li{
    margin-left: 15px;
    margin-right: 15px;
}
.userDropdown a{
    color: black !important;
}
.userDropdown li{
    margin-left: 0;
    margin-right: 0;
}
.userDropdown li:first-child{
    border-bottom: 1px solid #ccc;
}

/* css o tim kiem */
.timkiem{
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    padding : 20px;
    margin-bottom: 50px;
    margin-top: 20px;
    background-color: white;
    border-radius: 5px;
}
.timkiem .title {
    display: flex;
}
.timkiem .search_box{
    width: 100%;
}

.timkiem .search_box select {
    border-radius: 5px;
    padding: 5px;
    width: 13%;
}

.container .timkiem i{
    margin-top: 5px;
    margin-right: 10px;
    color: #31a2fa;
}
/* Left-bar css */
.left_menu{
    background-color: white;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}
.left_menu .theloai {
    background-color: #31a2fa;
    padding: 10px;
    border-radius: 5px 5px 0 0;
    justify-content: center;
    align-items: center;
}
.left_menu .theloai h5 {
    color: white;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
}
.left_menu .theloai h6 {
    color: white;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
}
.left_menu .dstheloai a{
    text-decoration: none;
    padding: 0 5px;
}
.left_menu ul {
    list-style-type: none;
    padding-left: 0;
}
.left_menu li{
    padding: 10px;
    border-bottom: 1px solid #ecebeb;
    cursor: pointer;
}
.dstheloai li:hover{
    background-color: #dfdfdf;
}


/* card css */
.card-container{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.card-base{
    height: 300px;
    background-color: white;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    transition: .3s box-shadow, .3s margin-top
    ease-in-out;
}
.card-base:hover{
    box-shadow: 2px 12px 20px rgba(0, 0, 0, 0.3);
    margin-top: -10px;
    /* cursor: pointer; */
}
.card-base i{
    color:  #31a2fa;
}
.img-card{
    border-radius: 10px;
}
.btn-base{
    background: #31a2fa;
    display: flex;
    width: 100px;
    height: 40px;
    border-radius: 50px;
    margin: 0 auto;
    margin-top: -20px;
    position: relative;
    justify-content: center;
    align-items: center;
    border-width: 0px;
    color: white;
    transition: .3s box-shadow ease-in-out;
}
.btn-base:hover{
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
}
.text-base{
    margin: auto;
    color: white;
}
.text-content{
    padding: 10px;
}
.limit-text{
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.tac-gia{
    -webkit-line-clamp: 1;
}
.ten-sach{
    -webkit-line-clamp: 2;
}

/* footer css */
.footer{
    margin-top: 20px;
    color: white; 
    text-align: center;
}
.footer .container p {
    background-color: #31a2fa;
    width: 100%;
    padding: 20px;
    margin-bottom: 0px;
}

/* css phân trang */
.phan-trang{
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* notifi-box */
.notifi-box{
    width: 400px;
    max-height: 300px;
    overflow-y: auto;
}
.notifi-box a {
    color: black !important;
    text-transform: none !important;
}
.notifi-box li{
    margin-right: 0;
    margin-left: 0;
}
.notifi-box h2{
    font-size: 14px;
    padding: 10px;
    border-bottom: 1px solid #eee;
    color: #999;
}
.notifi-box h2 span{
    color: #f00;
}
.notifi-item{
    display: flex;
    border-bottom: 1px solid #eee;
    padding: 15px 5px;
    height: 80px;
}

.notifi-item:hover{
    background-color: #eee;
}
.notifi-item h4{
    color: #777;
    font-size: 16px;
    margin-right: 10px;
}
.notifi-item p{
    color: black;
}
.notifi-counter{
    font-size: 10px !important;
    position: absolute;
    margin-left: -10px;
    margin-top: -5px;
}
/* css đường dẫn thư mục */
.duong-dan-muc{
    font-size: 16px;
    padding: 10px 10px 0px 10px;
}
.duong-dan-muc a {
    text-decoration: none;
    color: #999;
}
.duong-dan-muc i{
    color: #999;
    padding-left: 10px;
    padding-right: 10px;
}
/* css chi tiết sách */
.book-introduction{
    height: 200px !important;
    overflow-x: hidden;
    overflow-y: auto;
    margin-bottom: 20px;
}
.col-sm-8 .muonsach{
    border: 2px solid #31a2fa;
    background-color: #31a2fa;
    color: white;
    padding: 10px 30px ;
}
.col-sm-8 .muonsach:hover{
    background-color: white;
    color: #31a2fa;
    border: 2px solid #31a2fa;
}
/* css Trang cá nhân */
.timkiem .col-sm-8 .title_canhan{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 0px;
}
.timkiem .col-sm-8 .row .mb-3 a{
    cursor: pointer;
}
#nuteditThongTin{
    visibility: hidden;
    text-align: right;
}
.display-edit-button{
    visibility: visible !important;
}
.anhDaiDien{
    max-width: 192px;
    max-height: 192px;
}
.thong-tin-the h5{
    text-align: center;
}
.thong-tin-the p{
    text-align: center;
    width: 50%;
}
.lich-su h5{
    text-align: center;
}
.lich-su .table  tbody i{
    cursor: pointer;
    max-height: 300px;
}

.dang-xu-ly{
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
    border: 1px solid rgb(250, 146, 146);
    background-color: rgb(247, 184, 184);
}
.dang-muon{
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid #ffee00;
    background-color: #f5f0a8;
    border-radius: 5px;
}
.da-gia-han{
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid #31a2fa;
    background-color: #8DC9F7;
    border-radius: 5px;
}
.da-tra{
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid #00ff37;
    background-color: #aff7b2;
    border-radius: 5px;
}
.hide-element{
    display: none !important;
}
.gia-han-the{
    display: flex;
    justify-content: center;
}
.thong-tin-tra-sach{
    display: flex;
    justify-content: space-between;
}
/* css trang giỏ sách */
.table img{
    width: 100px;
}
.timkiem h4{
    text-align: center;
}
.delete-item-cart{
    font-size: 20px;
}
.delete-item-cart:hover{
    color: red !important;
}
.customer-info{
    border-radius: 10px; 
    padding: 20px;
    height: fit-content;
}
.empty-bag{
    width: 250px;
    margin-bottom: 20px;
}
/* css cho user-box */
.user-box{
    top: 45px;
    right: 26px;
    z-index: 1;
    position: absolute;
    width: fit-content;
    border-radius: 5px;
    padding: 5px 0 5px 0;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.user-box ul{
    display: flex;
    flex-direction: column;
}
.user-box li{
    list-style: none;
}
.user-box button{
    width: 100%;
    text-align: left;
    border-width: 0;
    background-color: white;
}
.user-box button i{
    margin: 5px;
}
.user-box ul li:first-child{
    border-bottom: #ccc solid 1px;
}
.user-box button:hover{
    background: #ccc;
}

/* css trang giới thiệu */
.timkiem h3{
    text-align: center;
}

/* CSS TRANG YÊU CẦU MƯỢN SÁCH */
i.fa-regular{
   font-size: 30px; 
   cursor: pointer;
}
i.fa-circle-check{
    color: #00D084 !important;
}
i.fa-circle-check:hover{
    color: #4CAF50 !important;
}
i.fa-circle-xmark{
    color: red !important;
}
i.fa-circle-xmark:hover{
    color: #D00707 !important;
}
/* css trang quản lý sách và thể loại */
.nut-xac-nhan-them-moi{
    text-align: right;
}
#mota{
    height: 100px;
}
.title_themmoi{
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-size: large;
    margin-bottom: 0;
}
html{
    scroll-behavior: smooth;
}
.anhBiaSach{
    border: 2px solid white;
    max-height: 280px;
    max-width: 300px;
}
.nut-them-moi{
    text-decoration: none;
}
.search_box_qlsach input {
    width: 50% !important;
}
.them-moi-the-loai{
    justify-content: space-between;
}
/* css Trang quản lý người dùng */
#title-qlnguoidung{
    text-align: center;
}
.table-nguoidung a{
    text-decoration: none;
}
/* Css phần bình luận */
.binhluantitle {
    border-bottom: 3px solid #31a2fa;
}
.binhluantitle h5{
    background-color: #31a2fa;
    color: white;
    padding: 10px 5px;
    margin: 0;
    border-radius: 5px 5px 0 0;
    width: fit-content;
}
.text-end{
    text-align: end;
}
.yellowstar{
    color: #f7941d !important
}
.show-or-hide-password{
    position: absolute; 
    transform: translateX(-150%); 
    top: 25%;
    cursor: pointer;
}

/* success */
.main-container {
	width: 100%;
	height: 30vh;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
}

/* // Main CSS */
.check-container {
	width: 10rem;
	height: 12rem;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: space-between;
}
.check-container .check-background {
    width: 100%;
    height: calc(100% - 1.25rem);
    background: linear-gradient(to bottom right, #5de593, #41d67c);
    box-shadow: 0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset,
        0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset;
    transform: scale(0.84);
    border-radius: 50%;
    animation: animateContainer 0.75s ease-out forwards 0.75s;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
}
.check-container .check-background svg {
    width: 65%;
    transform: translateY(0.25rem);
    stroke-dasharray: 80;
    stroke-dashoffset: 80;
    animation: animateCheck 0.35s forwards 1.25s ease-out;
}

.check-container .check-shadow {
    bottom: calc(-15% - 5px);
    left: 0;
    border-radius: 50%;
    background: radial-gradient(closest-side, rgba(73, 218, 131, 1), transparent);
    animation: animateShadow 0.75s ease-out forwards 0.75s;
}
/* upload file excel */
.drag-area{
    border: 2px dashed #fff;
    height: 250px;
    width: 350px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.drag-area.active{
border: 2px solid #fff;
}
.drag-area .icon{
font-size: 50px;
color: #fff;
}
.drag-area header{
font-size: 30px;
font-weight: 250;
color: #fff;
}
.drag-area span{
font-size: 14px;
font-weight: 250;
color: #fff;
margin: 10px 0 15px 0;
}
.drag-area button{
padding: 5px 14px;
font-size: 14px;
font-weight: 250;
border: none;
outline: none;
background: #fff;
color: #5256ad;
border-radius: 5px;
cursor: pointer;
}
.drag-area img{
height: 100%;
width: 100%;
object-fit: cover;
border-radius: 5px;
}
  
@keyframes animateContainer {
	0% {
		opacity: 0;
		transform: scale(0);
		box-shadow: 0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset,
			0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset;
	}
	25% {
		opacity: 1;
		transform: scale(0.9);
		box-shadow: 0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset,
			0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset;
	}
	43.75% {
		transform: scale(1.15);
		box-shadow: 0px 0px 0px 43.334px rgba(255, 255, 255, 0.25) inset,
			0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset;
	}
	62.5% {
		transform: scale(1);
		box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset,
			0px 0px 0px 21.667px rgba(255, 255, 255, 0.25) inset;
	}
	81.25% {
		box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset,
			0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset;
	}
	100% {
		opacity: 1;
		box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset,
			0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset;
	}
}

@keyframes animateCheck {
	from {
		stroke-dashoffset: 80;
	}
	to {
		stroke-dashoffset: 0;
	}
}

@keyframes animateShadow {
	0% {
		opacity: 0;
		width: 100%;
		height: 15%;
	}
	25% {
		opacity: 0.25;
	}
	43.75% {
		width: 40%;
		height: 7%;
		opacity: 0.35;
	}
	100% {
		width: 85%;
		height: 15%;
		opacity: 0.25;
	}
}