<%- contentFor('head') %> 
    <title>Liên hệ</title>
<%- contentFor('body') %>
<%- include('../particals/header') %>
<div class="container">
    <div class="duong-dan-muc">
        <a href="/">Trang chủ</a>
        <i class="fa-solid fa-angle-right"></i>
        <a href="#">Liên hệ</a>
    </div>
    <div class="timkiem">
        <div class="row">
            <h4 style="border-bottom: 1px solid #dfdfdf;padding-bottom: 10px;">Thư viện Trường Đại học Công Nghệ Thông Tin</h4>
            <div class="col-sm-6">
                <p>Địa chỉ: Khu phố 6, P. Linh Trung, Q. Thủ Đức, Tp. Hồ Chí Minh.</p>
                <p>Email : thuvien@uit.edu.vn</p>
                <p>Điện thoại: (028) 72 51993 - Ext:
                    <ul>
                        <li>130 : Giám đốc</li>
                        <li>129 : Phòng nghiệp vụ</li>
                        <li>128 : Bộ phận phục vụ</li>
                        <li>154 : Phòng kỹ thuật</li>
                    </ul>
                </p>
            </div>
            <div class="col-sm-6">
                <p>DANH SÁCH NHÂN SỰ</p>
                <ul>
                    <li type="1"><p>ThS. Bùi Văn Thành, Giám đốc</p></li>
                    <li type="1"><p>CN. Lê Văn Ngọc, Chuyên viên</p></li>
                    <li type="1"><p>CN. Lê Hoàng Lâm, Chuyên viên</p></li>
                    <li type="1"><p>CN. Nguyễn Thị Lan Sa, Chuyên viên</p></li>
                    <li type="1"><p>CN. Phan Trường Nhất, Chuyên viên</p></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<%- include('../particals/footer') %>
