<%- contentFor('head') %>
<title>Đăng nhập</title>
<link rel="stylesheet" href="/css/login.css">
<link rel="stylesheet" href="/css/cssInput.css">

<%- contentFor('body') %>

<body>
	<div class="container">
		<div class="contact-box">
			<div class="left"></div>
			<div class="right">
				<div class="container_login">
                    <h3>QUÊN MẬT KHẨU</h3>
                    <form id="form1">
                        <div class="form-group">
                            <input type="text" class="field" name="username" id="username" placeholder="Tên đăng nhập...">
                            <span class="errorMessage"></span>
                        </div>
                        <div class="nutdangnhap">
                            <button  class="nutbam" id="next" type="submit">Tiếp</button>
                        </div>
                    </form>
            
                    <form id="form2">
                        <input type="text" class="field" name="userId" id="userId" style="display: none;">
                        <div class="form-group">
                            <div style="position: relative;">
                                <input type="password" class="field" name="newpass" id="newpass" placeholder="Mật khẩu mới...">
                                <i id="show-hide-newpass" class="fa-solid fa-eye show-or-hide-password"></i>
                            </div>
                            <span class="errorMessage"></span>
                        </div>
                        <div class="form-group">
                            <div style="position: relative;">
                                <input type="password" class="field" id="renewpass" placeholder="Nhập lại mật khẩu mới...">
                                <i id="show-hide-renewpass" class="fa-solid fa-eye show-or-hide-password"></i>
                            </div>
                            <span class="errorMessage"></span>
                        </div>
                        <div class="form-group  mb-3">
                            <div class="input-row">
                                <input class="field" type="text" name="code" id="code" placeholder="Mã bảo mật...">
                                <button type="button" class="nutbamgreen" id="layMa">Lấy mã</button>
                            </div>
                            <span class="errorMessage"></span>
                        </div>
                        <div class="nutdangnhap">
                            <button class="nutbam" id="back" type="button">Quay lại</button>
                            <button class="nutbam" id="xacnhan" type="submit">Xác nhận</button>
                        </div>
                    </form>
                </div>
			</div>
		</div>
	</div>
</body>
<script src="/javascript/validator.js"></script>
<script src="/javascript/quenMatKhau.js"></script>