<%- contentFor('head') %> 
    <title>Đăng nhập</title>
    <link rel="stylesheet" href="/css/login.css">
<%- contentFor('body') %>
<body class="body">
	<div class="container">
        <div class="contanier_login">
            <div class="wrap_login" style="background: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1));">
                <div class="row">
                    <div class="col-sm-7">
                        <img class="anhnen" src="/images/nen2.jpg" alt="BupBeRaggedyAnn">
                    </div>
                    <div class="col-sm-5">
                        <div class="title">
                            <h3 style="margin-bottom: 20px;">QUÊN MẬT KHẨU</h3>
                        </div>
                        <form class="login_form">
                            <input class="form-control mb-3" type="text" placeholder="Tên đăng nhập">
                        <div class="input-group mb-3">
                            <input class="form-control" type="text" placeholder="Mã bảo mật">
                            <button class="nutbamgreen">Lấy mã</button>
                        </div>
                        <input class="form-control mb-3" type="password" placeholder="Mật khẩu mới">
                        <input class="form-control mb-3" type="password" placeholder="Nhập lại mật khẩu mới">
                        
                        <button type="button" class="nutbam mb-3" style="width: 100%">Xác nhận</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>