<%- contentFor('head') %>
<title>Đăng nhập</title>
<link rel="stylesheet" href="/css/login.css">
<link rel="stylesheet" href="/css/cssInput.css">

<%- contentFor('body') %>

<body>
	<div class="container">
		<div class="contact-box">
			<div class="left"></div>
			<div class="right">
				<div class="container_login">
                    <h3>QUÊN MẬT KHẨU</h3>
                    <form id="form1">
                        <input type="text" class="field" id="userId" style="display: none;">
                        <input type="text" class="field" id="username" placeholder="Tên đăng nhập..." required>
                        <div class="nutdangnhap">
                            <button class="nutbam" id="next" type="button">Tiếp</button>
                        </div>
                    </form>
            
                    <form id="form2">
                        <input type="password" class="field" id="newpass" placeholder="Mật khẩu mới...">
                        <input type="password" class="field" placeholder="Nhập lại mật khẩu mới...">
                        <div class="input-row mb-3">
                            <input class="field type="text" id="code" placeholder="Mã bảo mật...">
                            <button type="button" class="nutbamgreen" id="layMa">Lấy mã</button>
                        </div>
                        <div class="nutdangnhap">
                            <button class="nutbam" id="back" type="button">Quay lại</button>
                            <button class="nutbam" id="xacnhan" type="button">Xác nhận</button>
                        </div>
                    </form>
                </div>
			</div>
		</div>
	</div>
</body>
<script src="/javascript/quenMatKhau.js"></script>