<header>
    <div class="container">
        <div class="header">
            <nav class="navbar navbar-expand-sm ">
                <div class="container-fluid">
                    <!-- Links -->
                    <div class="col-lg-9 col-md-9">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a href="/trangChu">
                                    <i class="fa-solid fa-house"></i>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/gioiThieu">Giới thiệu</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/lienHe">Liên hệ</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-3">
                        <div class="text-end">
                            <% if(currentUser ==null) { %> 
                                <a href="/dangNhap">Đăng nhập</a>
                            <% }else{ %>
                                <ul class="header-right">
                                    <!-- dropdown thong bao -->
                                    <li class="dropdown">
                                        <a href="#" class="text-decoration-none" role="button" id="dropdownNotify" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="fa-solid fa-bell">
                                                <span class="badge bg-danger text-wrap notifi-counter">0</span>
                                            </i>
                                        </a>
                                        <ul id="notify-box" class="notifi-box dropdown-menu dropdown-menu-lg-end dropdown-menu-macos mx-0 border-0 shadow" aria-labelledby="dropdownNotify">
                                            <li><h2>Thông báo <span>0</span></h2></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="/gioSach">
                                            <i class="fa-solid fa-basket-shopping">
                                                <% if (cart) { %>
                                                    <span class="badge bg-danger text-wrap notifi-counter" id="cartQuantity"><%= cart.length %> </span>
                                                <% }else{%>
                                                    <span class="badge bg-danger text-wrap notifi-counter" id="cartQuantity">0</span>
                                                <% } %> 
                                            </i>
                                        </a>
                                    </li>
                                    <!-- dropdown trang ca nhan -->
                                    <li class="dropdown">
                                        <a href="#" class="text-decoration-none" role="button" id="dropdownUser" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="fa-solid fa-circle-user"></i>
                                        </a>
                                        <ul class="dropdown-menu dropdown-menu-lg-end dropdown-menu-macos mx-0 border-0 shadow userDropdown" aria-labelledby="dropdownUser">
                                            <li>
                                                <form id="trangCaNhanForm" action="/trangCaNhan" method="get">
                                                    <a class="dropdown-item" href="javascript:{}" 
                                                        onclick="document.getElementById('trangCaNhanForm').submit();">
                                                        <i class="fa-solid fa-user"></i> Trang cá nhân
                                                    </a>
                                               </form>
                                            </li>
                                            <li>
                                                <form id="dangXuatForm" action="/trangChu/dangXuat?_method=DELETE" method="post">
                                                    <a class="dropdown-item" href="javascript:{}" 
                                                        onclick="document.getElementById('dangXuatForm').submit();">
                                                        <i class="fa-solid fa-arrow-right-from-bracket"></i> Đăng xuất
                                                    </a>
                                               </form>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            <% } %> 
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</header>
<% if (currentUser != null) { %>
<script src="/javascript/headerUser.js"></script>
<% } %>
<script defer src="/javascript/socketHeaderUser.js"></script>